/* .client_avatar{
    position: absolute !important;
    
    bottom:10px ;
}

.clientName_div{
flex-basis: 30%
}
.place_div{
    text-align: left;
    text-transform: capitalize !important;
    flex-basis: 40%
}
.status_div{
    flex-basis: 20%
}

.meetingDate_div{
    flex-basis: 31.7%
}
.locationAddress_div{
    flex-basis: 40%
}
.locationNavigation_div{
    flex-basis: 20%
}

.clientName_div>p{
    background: blue;
    font-size:17px !important;
    max-width:80% !important;
    max-width: 80% !important;
    width:100% !important;
}
.clientName{
    padding-left:20%;

    text-align: left;
}
.expansionPanelDetail_div{
    float:left;
    background: blue;
    text-align: left !important;
}

@media(max-width:425px){
 .clientName_div>p{
    background: blue;
    font-size: 14px !important;
}
.clientName{

} */
