#LoginPanel{
 display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.LoginDiv{
    max-width:400px;
    width:100% !important;
    padding: 30px 0px 30px 0px;
}
#LoginPanel:nth-child(1){
    font-size:24px;
}
.loginBtn{
    justify-content: center;
    align-items: center;
}
#beverageList{
    display: flex;
    flex-direction: row;
}
.beveragesCard{
    flex:1;
    margin:0 2%;
}